@import '../../colors.scss';

.imageCont{

   
    border-bottom: 0.5px solid red;
    border-right: 0.5px solid red ;
    width: 130px ;
    height: 130px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 50%;
    position: relative;
}

.myContact{
    position: absolute;
    background-color:$navigateBacground;
    width: 25px !important;
    height: 25px !important;
    border: none;
}

.myContact1{
    left: 80%;
    top: 20%;
}

.myContact2{
    left: 70%;
    top: 70%;
}

.myContact3{
    left: 20%;
    top: 80%;
}