.buttonDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 80px;
}

.buttonDiv > span {
  width: 100%;
  position: absolute;
  top: 0;
}

.buttonLink {
  text-decoration: none;
  color: white;
}

.buttonDiv:hover > span {
  border: 0.1px solid red;
}
