@import '../../colors.scss';

.buttonDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 50px;
  }
  
  .buttonDiv > span {
    width: 100%;
    position: absolute;
    top: 0;
  }
  
  .buttonLink {
    text-decoration: none;
    color: $btnTextColor;
    user-select: none;
  }

  .buttonLinkActive:active{
    color: $btnActiveClassColor ;
  }
  
  .buttonDiv:hover > span {
    border: 0.1px solid red;
  }
  
  .buttonsSection {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .dropDown {
    position: absolute;
    padding: 10px 10px;
    background-color: #5a6165;
    border-radius: 15px;
    margin-top: 50px;
    text-align: center;
    display: none;
  }
  
  .dropDown > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .dropDown > ul > li {
    border-bottom: 1px solid red;
    cursor: pointer;
  }
  
  .buttonsSection:hover > .dropDown {
    display: block;
  }
  