
$textColors: #809ab9;
$btnTextColor: #36e97b;
$searchBtnBacground: #3B88E7;
$searchBtnColor :  white;

 
// .colorBtn{
//     color: $btnTextColor ;    
// }

// .colorNMyinfo{
//     color: $textColors ;
// }