

$textColors : #809ab9;
$btnTextColor: #b6eecb;
$searchBtnBacground: #3B88E7;
$searchBtnBacgroundNotHover:  #146BE6;
$searchBtnColor :  white;
$btnActiveClassColor : chartreuse ;
$globalSectionTextColor : white;
$globalSectionIconColor :  #dfdfdf ;
$myInfoSpanHover : rgb(63, 63, 63) ;
$navigateBacground :  #5a6165 ;
$navigateGlobalSectionBacground :  #232323 ;
$leftElseInfoBacground : #809ab9;
$hoverLinkIconsBacground :  #8b8b8b;
$logginModalBacground :  rgba(0, 0, 0, 0.5);
$logginModalLabelText :  #03e9f4 ;
$logginModalbuttonHoverBacground : #03e9f4 ;
$buttonSubmitColor :  rgb(176, 141, 231) ;
$bottonBackgroundColor :  rgb(63, 63, 128);
$sahrClickButtonsBacgroundColor :   #8b8b8b;
$OkColor :  #52C41A ;
$usersPageNavTextColor: black ;
$MeBackgroundColor: rgb(221, 221, 221) ;