

$textColors: #809ab9;
$btnTextColor: #b6eecb;
$searchBtnBacground: #3B88E7;
$searchBtnColor :  white;
$btnActiveClassColor : chartreuse ;
$globalSectionTextColor : white;
$globalSectionIconColor :  #dfdfdf ;
$myInfoSpanHover : rgb(63, 63, 63) ;
$navigateBacground :  #5a6165 ;
$navigateGlobalSectionBacground :  #232323 ;
$leftElseInfoBacground : #809ab9;
