body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

body::-webkit-scrollbar {
  width: 10px;
}

.sectionNone {
  display: none;
}

.searchSection {
  position: absolute;
  min-height: 740px;
  width: 100%;
  z-index: 100;
  background-color: rgb(88, 86, 83);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  opacity: 0.9;
  animation: setionClouseAnimate 0.5s;
  user-select: none;
  overflow: hidden;
}

@keyframes setionClouseAnimate {
  0% {
    scale: 0.6;
  }

  100% {
    scale: 1;
  }
}

.loginModalLogikSection {
  display: block;
  margin-top: 100px;
  left: 25%;
  width: 50%;
  position: absolute;
  z-index: 90;
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px black;
  border-radius: 15px;
  min-width: 220px;
}

.loginModalLogikSection::-webkit-scrollbar {
  width: 5px;
}

.loginModalLogikSection::-webkit-scrollbar-thumb {
  background-color: rgb(163, 233, 189);
}

.loginModalLogikSection2 {
  display: none;
}
