/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 210, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(144, 144, 144);
  /* background-image: url(next-pf/app/images/photo1.jpg); */
}
