.layoutSection {
  display: flex;

  justify-content: space-around;
  width: 99.5%;
  align-items: center;
  position: fixed;
  top: 0;
}

.layoutMain {
  min-height: 740px;
  overflow-x: hidden;
  position: relative;
}

.bacgroubdImage {
  position: absolute;
}

.shareBtnDiv {
  display: flex;
  column-gap: 10px;
}
