@import '../app/colors.scss';

.sectionLoading{

    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-color: rgb(64, 70, 72);
    margin-top: 200px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;


}


