@import './colors.scss';
@import './mixins';

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
   
  }

  .h1{
    color: $textColors; 
    position: relative;
  }

  .h1None{
    display: none
  }
  
  .btnInpage{

    @include btnGlobalStyle;
  }

  .btnInpageNone{
    display: none;
  }