@import '../../colors.scss';

.container{

    position: fixed;
    height: 100px;
    width: 100%;
    perspective: 500px;
    transform-style: preserve-3d;
    margin: 100px auto 30px auto;
    overflow: hidden;
 
}

.box{
 
    width: 120px ;
    height: 50px ;
    display: inline-block;
    background-color:  $navigateGlobalSectionBacground  ;
    box-shadow: 0 0 10px  #0000004d;
    border: 1px solid #000000;
    border-radius: 25px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    transition: 700ms ease-in-out;
    overflow: hidden;

    cursor: pointer;
    text-align: center;

    
}

.box > p{
   
    font-size: 15px;
    color: $btnTextColor ;
}



.box:nth-of-type(6){

    left: -100px;
    transform: translate(-50%, -50%)
    //  rotateY(-10deg)
    //   translateZ(-200px)
      ;
     opacity: 0;
     z-index: 2;
}

.box:nth-of-type(5){
  
    left: 130%;
    transform: translate(-50%, -50%) 
    // rotateY(-10deg)
    //  translateZ(-150px)
     ;
   
    z-index: 2;
}

.box:nth-of-type(4){
  
    left: 80%;
    transform: translate(-50%, -50%) 
    // rotateY(-10deg)
    //  translateZ(-100px)
     ;
  
    z-index: 5;
}

.box:nth-of-type(3){
  
    left: 60%;
    color: #eee;
    transform: translate(-50%, -50%) 
    // rotateY(-10deg)
    //  translateZ(-50px)
     ;
  
    z-index: 10;
}

.box:nth-of-type(2){
  
    left: 40%;
    color: #eee;
    transform: translate(-50%, -50%) 
    // rotateY(-10deg) 
    ;
    z-index: 5;
}

.box:first-of-type{

    left: 20%;
    transform: translate(-50%, -50%) 
    // rotateY(-10deg) 
    ;
    z-index: 5;
   
}

// anim3dDiv

.anim3dDivRelative{
  
    position: fixed;
    right: 0;
    top: 250px;
  
   perspective: 500px;
   transform-style: preserve-3d;
   width: 80px;
   height: 50px;

}

.anim3dDivAbsolute{

    position: absolute;
    transition: 800ms ease-in-out;

    right: 160%;
    // transform: translate(-50%);
    transform:
    rotateX(-20deg)  
    rotateY(-60deg)  
    // rotateZ(20deg) 
    translateZ(-200px)
    ;
    cursor: pointer;
    border-radius: 7px;
}

.anim3dDivAbsoluteChange{

    position: absolute;
    transition: 800ms ease-in-out;
    right: 0;
    // transform: translate(-50%);
    transform:
    rotateX(-10deg)  
    rotateY(-10deg)  
    // rotateZ(20deg) 
    translateZ(200px)
    ;
    cursor: pointer;
    border-radius: 7px;
}
