@import '../../../colors.scss';

.loginModalLogikSection {
    display: block;
    margin-top: 100px;
    left: 25%;
    width: 50%;
    position: fixed;
    z-index: 90;
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px black;
    border-radius: 15px;
    min-width: 220px;
  }

  .loginModalLogikSectionNone {
    display: none;
  }


  
.loginModalLogikSection::-webkit-scrollbar {
    width: 5px;
  }
  
  .loginModalLogikSection::-webkit-scrollbar-thumb {
    background-color: $textColors;
  }
  

.buttonsDiv{

    padding:15px 0px;
    display: flex;
    justify-content: space-around;
}


.onclickBtm{
    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0.8;
    padding: 4px 6px;
    border-radius: 10px;
    width: 20%;
    height: 25px;
    min-width: 95px;
    column-gap: 5px;
   
    color:  $textColors  ;
}

.antLeftRight{

    font-size: 10px;
}