@import '../../../../colors.scss';

.sliderPosterSection{
    // border: solid rgb(60, 0, 255);
    
}

.silderDiv{

    position: relative;
    column-gap: 50px;
    perspective: 500px;
    transform-style: preserve-3d;
    height: 600px;
    overflow: hidden;

}

.sliderItem{
    display: inline-block;
    position: absolute;
    box-sizing: border-box;
    left: 0;
    transition: 3s ease-in-out;
    width: 100%;
}

.sliderItemImage{
    width: 100%;
    height: 600px;
}

.sliderItem:nth-of-type(3){
    left: -300%;
    scale: -4;
}





