@import '../../../../colors.scss';

// .sliderPosterSection{
//     border: solid rgb(60, 0, 255);
    
// }

.silderDiv{

    position: relative;
    column-gap: 50px;
    height: 600px;
    overflow: hidden;

}

.sliderItem{
    position: absolute;
    left: 0;
    width: 100%;

}

.sliderItemImage{
    width: 100%;
    height: 600px;
}



.getLastAnim {
    position: relative;
    overflow: hidden;
}

.getLastAnim:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    animation: rippleAnimationBefore 2s ease-in-out ;
}

@keyframes rippleAnimationBefore {
    to {
        width: 400%;
        padding-bottom: 400%;
        opacity: 0;
    }
}

.visibleChildren{
   
  animation: animUserAdInfo 0.1s 3 ;
  background-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 10px;

}

@keyframes animUserAdInfo{

    0%{
        background-color: black;
    }

    50%{
        background-color: rgb(77, 76, 76);
    }

    100%{
        background-color: black;
    }
}




