@import '../../../colors.scss';

.flexDiv {
    column-gap: 20px;
    position: relative;
    width: 210px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: dashed 2px #000000;
  }
  
  .flexDiv {
    div {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  } 
  
  .flexDiv {
    div{
      a{
        color:$globalSectionIconColor;
        font-size: 17px;
      }
    }
  } 

  
  .flexDiv  > div > span {
    position: absolute;
    left: 55px;
    color:$globalSectionIconColor;
    font-size: 13px;
    visibility: hidden;
    padding: 3px 7px 3px 7px;
    border-radius: 10px;
  }
  
  .flexDiv > div:hover > span {
    visibility: visible;
    background-color:$myInfoSpanHover;
    color: $globalSectionIconColor  ;
  }
  
  .flexDiv > div:hover > a {
    color:$btnActiveClassColor;
   
  }
 