.flexDiv {
  display: flex;
  column-gap: 20px;
  position: relative;
  width: 130px;
}

.flexDiv > div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: dashed 2px #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.flexDiv > div > a {
  color: #dfdfdf;
  font-size: 17px;
}

.flexDiv > div > span {
  position: absolute;
  right: 0;
  color: #dfdfdf;
  font-size: 13px;
  visibility: hidden;
}

.flexDiv > div:hover > span {
  visibility: visible;
}

.flexDiv > div:hover > a {
  color: rgb(68, 235, 132);
}
