@import '../../../colors.scss';

.onclickDiv{
  
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0.8;
    border-radius: 10px;
   
}

.onclickDiv:hover {

    color: $hoverLinkIconsBacground;
    background-color: $navigateBacground  ;
}

.onclickDiv:active{

    color: $btnActiveClassColor;
}