.section {
  
  border: solid rgb(0, 255, 4);
  width: 90%;
  margin: 150px auto 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  height: 400px;
  overflow: hidden;

   
  
}

