@import '../../../../../colors.scss';

.headerSection{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    
}

.navTeg{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: $globalSectionTextColor ;
    height: 45px;
    padding: 5px;
}

.navDiv{
    display: flex;
    column-gap: 20px;
    
}

.navDiv > article{
    text-align: center;
    cursor: pointer;
   
}

.navDiv > article > p{
  font-size: 13px;
  margin-top: 5px;
  color: $usersPageNavTextColor ;

}

.iqons{
    font-size: 20px;
    color: $usersPageNavTextColor ;
}

.usersAndNames{
   
    display: flex;
    align-items: center;
}

.usersAndNames > p{
    color: $usersPageNavTextColor ;
}

.seracDiv{
  
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.seracDiv > div:first-child > input{
    border: none;
    outline: none;
}

.searchIqon{
    cursor: pointer;
}

.seracDiv > div:last-child{
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    width: 100px;
    position: relative;
    border: 0.01px solid   rgb(179, 179, 179) ;
    border-radius: 10px;
    background-color: $MeBackgroundColor ;
}

.seracDiv > div:last-child > div:first-child{
  
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    column-gap: 2px;
    cursor: pointer;
}

.downIqon{
    font-size: 13px;
}

.MeButtonModal{
    
    position: absolute;
    width: 250px;
    height: 350px;
    border-radius: 10px;
    top: 40px;
    left: -150px;
    border: 0.01px solid   rgb(179, 179, 179);
    background-color:  $MeBackgroundColor ;
}

.MeButtonModalNone{
    
    display: none;
}

.usersImage{
    border-radius: 50%;
    cursor: pointer;
  
}

.usersImageMeModal{
    border-radius: 50%;
    cursor: pointer;
}

.MeButtonModal > div:first-child{
   
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btnProfile{
   border: 0.1px solid $searchBtnBacgroundNotHover;
}
