@import '../../../colors.scss';

.buttonsSection {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .buttonsSection:hover > .dropDown {
    display: block;
  }
  

.buttonDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 50px;
    border: none;
    background: none;
    font-size: 17px;
  }
  
  .buttonDiv > span {
    width: 100%;
    position: absolute;
    top: 0;
  }

  .buttonDiv:hover > span {
    border: 0.1px solid red;
  }

  // dropdown

  .dropDown {
    position: absolute;
    padding: 10px 10px;
    background-color: #5a6165;
    border-radius: 15px;
    margin-top: 50px;
    text-align: center;
    display: none;
    font-size: 17px;
  }
  
  .dropDown > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  
  }

  .dropDownLink {
    text-decoration: none;
    color: $btnTextColor;
    user-select: none;
    display: inline-block;
    border-bottom: 1px solid red;
    padding: 10px ;
   
  }
  
