@import '../../../colors.scss';
@import '../../button/hoverMyLink/myLink.module.scss';
@import '../../../mixins';

.layoutHeader {
  display: flex;
  justify-content: space-around;
  width: 99.5%;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
}

.shareBtnDiv {
  display: flex;
  column-gap: 10px;
}

.btnHeader {
  
  @include btnGlobalStyle;
}

.btnHeader:hover {
   
  .myLink {
    animation-name: animationHoverDiv;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    visibility: visible;
  }
}




