@import '../../colors.scss';
@import '../../mixins';

.tagList {
  
    width: 90%;
    overflow: hidden;
    padding: 2px 0px 0px 0px;
    border-radius: 10px;
    position: fixed;
    height: 55.5px;

    background: linear-gradient(90deg, 
    rgb(105, 101, 101) , transparent 0%,
     transparent 10%, rgb(105, 101, 101) 
    );
    // inset: 0;
    // position: absolute;
  }
  
  .tag{
  
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: black;
    padding: 4px;
    border-radius: 0.4rem;
    box-shadow: 
      0 1px 2px $textColors,
      0 1px 3px $textColors,
      0 2px 5px $textColors, 
    ;
    width: 250px;
    cursor: pointer;
  }
  
  .tag > span {
  
    font-size: 17px;
    color:$textColors;
   
  }

  .onClickLeft{
    position: absolute;
    z-index: 10;
    left: 0;
    top:  3.5px;

    @include btnGlobalStyle
    
  }

  .onClickRight{

    position: absolute;
    z-index: 10;
    right: 0;
    top: 3.5px;

    @include btnGlobalStyle
  }
  
  