@import '../../colors.scss';
@import '../../mixins';

.tagListHidden {
  
    min-width: 290px;
    max-width: 300px;
    height: 700px;
    padding: 0px 10px 0px 0px;
    border-radius: 10px;
    overflow: hidden;
    position: fixed;
    top: -10px;
    right: 0;
    display: flex;
    justify-content: flex-end;
    transform: translateX(0px);
    margin: 120px 0px 0px 0px;

    animation: tagListAnimHidden 0.8s  ease 1;

    // background: linear-gradient(90deg, 
    // rgb(105, 101, 101) , transparent 0%,
    //  transparent 10%, rgb(105, 101, 101) 
    // );
    // inset: 0;
    // position: absolute;
  }

  @keyframes tagListAnimHidden{

    0%{
      transform:translateX(270px);
    }

    100%{

      transform: translateX(0px);
    }
  }



  .tagListVisible{

    min-width: 290px;
    max-width: 300px;
    height: 700px;
    padding: 0px 10px 0px 0px;
    border-radius: 10px;
    overflow: hidden;
    position: fixed;
    top: -10px;
    right: 0;
    display: flex;
    justify-content: flex-end;
    transform: translateX(270px);
    margin: 120px 0px 0px 0px;
    animation: tagListAnimVisible 0.8s  ease 1 ;
  }

  @keyframes tagListAnimVisible{

    0%{
      transform: translateX(0px);
    }

    100%{

      transform: translateX(270px);
    }
  }

  
  .tag{
  
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: black;
    padding: 4px;
    border-radius: 0.4rem;
    box-shadow: 
      0 1px 2px $textColors,
      0 1px 3px $textColors,
      0 2px 5px $textColors, 
    ;
    width: 250px;
    cursor: pointer;
  }
  
  .tag > span {
  
    font-size: 17px;
    color:$textColors;
   
  }

  .onClickLeft{
    position: absolute;
    rotate: 90deg;
    z-index: 10;
    left: 35px;
    top: 50%;

    @include btnServisPageAnimNavigate
    
  }

  .onClickRight{

    position: absolute;
    rotate: 90deg;
    z-index: 10;
    right: 10px;
    top: 50%;

    @include btnServisPageAnimNavigate
  }

  .paginLeft{

    position: absolute;
    left: 0;
    top: 50%;

    @include btnServisPageAnimNavigate
  }

  .paginRight{

    position: absolute;
    left: 0;
    top: 50%;
    rotate: 180deg;
     
    @include btnServisPageAnimNavigate
  }


  
  