

.pagServiseDiv{

    width: 190px;
    height: 360px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
    text-align: center;
    cursor: pointer;
    background: #ececec;
    padding: 0px 10px;
    animation: run1 6s linear ;
}



@keyframes run1 {
    0% {
     
        transform: translateX(390%);
    }
    
    50%, 100% {
       
        transform: translateX(0);
    }
}