@import '../../colors.scss';

.hadSection {
   
    width: 100%;
    display: flex;
   
  }
  
  .hadSectionFirstDiv {
   
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 10px 0px 0px 10px;
    max-width: 25%;
    min-width: 270px;
    width: 100%;
    position: relative;
  }
  
  .divWre {
    width: 160px;
    border-right: solid #809ab9;
    border-bottom: solid #809ab9;
    border-radius: 50%;
  }
  
  .fixedimagediv {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    border-right: 6px solid rgb(104, 104, 104);
    border-bottom: 6px solid rgb(104, 104, 104);
  }
  
  .leftIconDiv {
    float: right;
    transform: translateY(-50px);
  
    width: 30px;
    height: 30px;
    background-color: #8b8b8b;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    opacity: 0.8;
  }
  
  .leftIconDiv:hover {
    color: $btnActiveClassColor;
  }

  
  .myContactDiv {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 50px;
    position: absolute;
    top: 30px;
    right: 10%;
  }

  .h1{
    color: $textColors ;
  }
  
  /* navigacia style */

  .navigateDiv{
    margin: 0 auto;
    height: 50px;
    width: 45%;
    margin-top: 20px;
  }

  .myInfoTextSection{
     
    width: 100%;
   
   
  }

  .infoTextDiv{
    width: 95%;
    margin: 20px auto ;
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    row-gap: 15px;
  
  }

  .h2{
    font-size: 20px;
    text-align: center;
    color:$btnTextColor;
   
  }

  .spanLine{
    border: 0.2px solid $globalSectionIconColor;
    display: block;
    width: 50%;
    margin: 0 auto;
  }

 .pHtml{
  font-size: 18px;
  color: $textColors ;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  line-height: 30px;
 
 }

 .mySertificate{
  width: 100%;
  height: auto;
 }