@import '../../../colors.scss';

.shareHoverDiv {
    position: absolute;
    margin-top: 207px;
    width: 50px;
    visibility: hidden;

  }
  
  @keyframes animationHoverDiv {
    0% {
      visibility: visible;
      opacity: 0.4;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  .shareHoverUl {
    list-style-type: none;
    padding: 0;
    margin: 1.7px 0px;
  }
  
  .shareHoverUl > li {
    display: flex;
    justify-content: center;
    background-color: $hoverLinkIconsBacground ;
    height: 50px;
    align-items: center;
  }
  