

.registerAnstSection {

    border:  solid red;
    display: flex;
    justify-content: center;
    width: 40%;
    margin: 0 auto;
    min-width: 200px;
}

.antForm {

    border:  solid rgb(15, 25, 143);
    min-width: 200px;
    width: 100%;
 
    
}

.formItemsInput{
    width: 100%;
}