@import '../../colors.scss';

.registerSection{

    border: solid rgb(0, 255, 34);

    width: 60%;
    margin: 0 auto;
    padding: 10px;
    margin-top: -80px;
}

.registerSection > h2 {

    text-align: center;
}


.registerForm{

   display: grid;
   grid-template-areas: 
   
   'div1 div2'
   'div3 div4'
   'div5 div6'
   'div7 div7'
   
   ;

   column-gap: 30px ; 
    
}

.div1{
    grid-area: div1;
}
.div2{
    grid-area: div2;
}

.div3{
    grid-area: div3;
}

.div4{
    grid-area: div4;
}

.div5{
    grid-area: div5;
}

.div6{
    grid-area: div6;
}

.di7Agaim{
    grid-area: div7;
   
}

.registerForm > div {
    display: grid;
    row-gap: 10px;
  
}

.registerForm > div > article{

    display: flex;
    column-gap: 10px;
}

.registerForm > div > article > span {

  
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $btnActiveClassColor;
    opacity: 20%;
}

// chekbox styles

.article{

    display: flex;
    align-items: center;
   
   
}

.article > label {

    position: relative;
    user-select: none;
    cursor: pointer;
 
   
}

.checkbox {

    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    cursor: pointer;
}

.checkboxSpan {

    position: absolute;
    border: solid $buttonSubmitColor;
    left: 0;
    top: 0;
    height: 13px;
    width: 13px;
}

.checkboxSpan:hover{

    background-color:$buttonSubmitColor;
}

.checkbox:checked ~ .checkboxSpan{

    background-color: $buttonSubmitColor;
}

.checkboxSpan::after{

    content: "";
    position: absolute;
    display: none;
    left: 2.5px;
    bottom: 4px;
    width: 5px;
    height: 5px;
    border: solid red;
    border-width: 0 3.5px 3.5px 0;
    transform: rotate(45deg);
}

.checkbox:checked ~ .checkboxSpan::after{

    display: block;
}

.textDiv{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content:center;
    align-items: center;
    color: $hoverLinkIconsBacground ;
}


.linkDiv{

    display: flex;
    column-gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.linkDiv{

  color: red;
}

.linkTeg{

    text-decoration: none;
    color: $hoverLinkIconsBacground;
}

.buttonSubmit {

    background-color: $bottonBackgroundColor ;
    color: rgb(184, 215, 240);
    border: none;
    cursor: pointer;
    width: 100px;
    height: 37px;
    border: solid $buttonSubmitColor;
    border-radius: 10px;
    margin-top: 30px;
}

.buttonSubmit:hover {

  background-color:$buttonSubmitColor;
  transition: 0.3s;
  color: black;
}