

.registerAnstSection {

    margin: 0 auto;
    min-width: 200px;

}

.antForm {

    min-width: 200px;
    width: 100%;
    display: grid;
    margin: 0 auto;
    justify-content: center; 
}

.formItemsInput{
    width: 100%;
}